@font-face {
    font-family: "Kalam";
    src: url("@/assets/fonts/Kalam-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "DancingScript";
    src: url("@/assets/fonts/DancingScript-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Courgette";
    src: url("@/assets/fonts/Courgette-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Cinzel";
    src: url("@/assets/fonts/Cinzel-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "InstrumentSerif";
    src: url("@/assets/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "GreyQo";
    src: url("@/assets/fonts/GreyQo-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "AbrilFatface";
    src: url("@/assets/fonts/AbrilFatface-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "CormorantGaramond";
    src: url("@/assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat-VariableFont_wght";
    src: url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "PlayfairDisplay";
    src: url("@/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Lora";
    src: url("@/assets/fonts/Lora-Regular.ttf") format("truetype");
  }
  
  